name: CI

on: [pull_request, push, workflow_dispatch]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-12"]
        python-version: ["3.8","3.9"]
  
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      
      - name: Setup python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      
      - name: Install
        run: | 
          pip install --upgrade pip
          pip install -e .
          pip install -r tests_requirements.txt
      
      - name: Run tests
        run: pytest
      
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v3